{% extends "admin/base.html" %}

{% block content %}
<style>
    .vertical{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 150px;
        border : 1px solid black;
        margin: 5px
    }
</style>
<div class="col-12">
        <p class="h1">Производственный календарь</p>
        <div class="row col-12">
            <div class="col-12 col-md-12">
                <div class="card card-primary card-outline" style="overflow: auto;">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                    <tr>
                                        <td class="align-middle"><b>Январь</b></td>
                                        {% for date, label in cal.jan %}
{#                                            <td>{{ date }}<br>{{ label }}</td>#}
                                            {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Февраль</b></td>
                                        {% for date, label in cal.feb %}
                                            {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Март</b></td>
                                        {% for date, label in cal.mar %}
                                            {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Апрель</b></td>
                                        {% for date, label in cal.apr %}
                                            {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Май</b></td>
                                        {% for date, label in cal.may %}
                                           {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Июнь</b></td>
                                        {% for date, label in cal.jun %}
                                           {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Июль</b></td>
                                        {% for date, label in cal.jul %}
                                            {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Август</b></td>
                                        {% for date, label in cal.aug %}
                                           {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Сентябрь</b></td>
                                        {% for date, label in cal.sep %}
                                           {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Октябрь</b></td>
                                        {% for date, label in cal.oct %}
                                           {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Ноябрь</b></td>
                                        {% for date, label in cal.nov %}
                                            {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><b>Декабрь</b></td>
                                        {% for date, label in cal.dec %}
                                           {% if label == "Пр" %}
                                                <td>
                                                    <div class="badge text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-danger text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Праздник
                                                    </div>
                                                </td>
                                            {% elif label == "8" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-info text-wrap align-middle vertical badge-pill" style="width: 31px; height: 21px;">{{ date }}
                                                        </div>
                                                        Полный рабочий день
                                                    </div>
                                                </td>
                                            {% elif label == "7" %}
                                                <td>
                                                    <div class="badge  text-wrap align-middle vertical" style="width: 100px; height: 50px;">
                                                        <div class="badge bg-warning text-wrap align-middle vertical badge-pill" style="width: 21px; height: 21px;">{{ date }}
                                                        </div>
                                                        Короткий рабочий день
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const filteringPlan = document.querySelector("#filteringPlan")

            filterSearch.addEventListener("click", () => {
                window.location.search = `?cplan=${filteringPlan.value}`
            })

            filteringType.addEventListener("change", () => {
                window.location.search += `&ctype=${filteringType.value}`
            })

            document.querySelector("#resetAll").addEventListener("click", () => {
                window.location.search = ""
            })
        </script>
    {% endblock %}
